.profile {
  width: 300px;
  outline: 5px solid lightsteelblue;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 20px;
  margin: 20px 0 0 20px;
}

.profile__greeting {
  font-weight: normal;
}